* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Spartan', sans-serif;
}

h1 {
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 40px;
}

p {
    padding-bottom: 40px;
    padding-right: 60px;
    padding-left: 40px;
    color:var(--Dark-Gray);
}

h3 {
    padding-left: 40px;
    display: inline-block;
    padding-right: 40px;
    letter-spacing: 10px;
}

.shoprow {
    padding-bottom: 80px;
}


:root {
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

.hero1 {
    display: grid;
    /* display: none; */
    grid-template-columns: 3fr 2fr;
    align-items:center;
    height: 534px;
}

.navbar {
    display: flex;
    position: absolute;
    top: 40px;
    left: 20px;
}

.navbar img {
    height: 20px;
}

li {
    display: inline;
    padding-left: 30px;
    color: var(--White);
    cursor: pointer;
}

li:hover {
    text-decoration: underline white;
}

.baseimg {
    height: 534px;
    width: auto;
}

.hero2 {
    display: grid;
    display: none;
    grid-template-columns: 3fr 2fr;
    align-items:center;
    height: 534px;
}

.hero3 {
    display: grid;
    display: none;
    grid-template-columns: 3fr 2fr;
    align-items:center;
    height: 534px;
}

.hero3 .arrows {
    margin-top: 115px;
    height: 60px;
}

.hero3 .shoprow {
    padding-bottom: 62.5px;
}

.arrows {
    display: flex;
    height: 60px;
    width: 158px;
    background-color: black;
    /* position: relative; */
    margin-top: 115px;
    margin-right: 460px;
}


.arrowleft {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 79px;
    cursor: pointer;
}

.arrowleft:hover {
    background-color: var(--Very-Dark-Gray);
}

.arrowright {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 79px;
    cursor: pointer;
}

.arrowright:hover {
    background-color: var(--Very-Dark-Gray);
}

.about {
    height: 270px;
    display: flex;

    /* grid-template-columns: 2fr 4fr 2fr; */
    /* align-items: center; */
    /* align-content: stretch; */
}

.aboutpara {
    width: auto;
}

.about h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.stub {
    height: auto;
    width: auto;
}

.totheright:hover {
    cursor: pointer;
    opacity: .30;
}

@media screen and (max-width:600px) {
    .hero1 {
        display: grid;
        /* display:none; */
        height: 700px;
        width: 375px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero2 {
        display: grid;
        display: none;
        height: 700px;
        width: 375px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero3 {
        display: grid;
        display: none;
        height: 700px;
        width: 375px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .hero3 .arrows {
        top: 200px;
    }

    .baseimg {
        height: 375px;
        width: 104vw;
    }

    .arrows {
        display: flex;
        height: 60px;
        width: 144px;
        background-color: black;
        position: absolute;
        margin-top: 0px;
        margin-right: 0px;
        top: 314px;
        right: 0px;
    }

    .decorinfo {
        padding-bottom: 200px;
    }

    .about {
        flex-direction: column;
        width: 375px;
    }

    .stub {
        width: 104vw;
    }

}